<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Cron.Schedule" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsActive" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SQS_ARN" value="arn:aws:sqs:us-east-1:787718444937:TransQueue_Prod"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SQS_NAME" value="TransQueue_Prod"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>