<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="dbSnapshotPath" value="C:\SQL\Snapshots"/>
    <add key="dbDiffScriptsPath" value="C:\SQL\DiffScripts"/>
    <add key="dbBackupPath" value="C:\SQL\BackupScripts"/>
    
    <add key="devDbServer" value="tfs2013.strimm.com"/>
    <add key="devDbName" value="DB_STubeDEV"/>
    <add key="devDbUser" value="stdbrdsadmin"/>
    <add key="devDbPassword" value="nuSZTzYuMH"/>
    
    <add key="qaDbServer" value="tfs2013.strimm.com"/>
    <add key="qaDbName" value="DB_STubeQA"/>
    <add key="qaDbUser" value="stdbrdsadmin"/>
    <add key="qaDbPassword" value="nuSZTzYuMH"/>

    <!--<add key="qaDbServer" value="50.21.176.152"/>
    <add key="qaDbName" value="DB_DBA_C1"/>
    <add key="qaDbUser" value="sa"/>
    <add key="qaDbPassword" value="DBAtest123!!!"/>-->

    <add key="prodDbServer" value="62.151.181.202"/>
    <add key="prodDbName" value="DB_PROD"/>
    <add key="prodDbUser" value="STDBLiveUser"/>
    <add key="prodDbPassword" value="ML7hvVkvmDm9p6eg"/>


    <!--<add key="prodDbServer" value="aax0p28v5opsos.cvpybmbtb7w8.us-east-1.rds.amazonaws.com"/>
    <add key="prodDbName" value="DB_Live_Prod"/>
    <add key="prodDbUser" value="STDBLiveUser"/>
    <add key="prodDbPassword" value="ML7hvVkvmDm9p6eg"/>-->

    <add key="jiraItemsFilePath" value="C:\SQL\JiraSqlFile\JiraItemsToDeploy.txt"/>
  </appSettings>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <backColor value="Yellow" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\dbschemacompare_log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5120KB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>
</configuration>