<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AmazonAccessKey" value="AKIAIG3N5RRV53NK65NA" />
    <add key="AmazonSecretKey" value="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" />
    <add key="domainName" value="qa.strimm.com" />
    <add key="mailFrom" value="info@strimm.com" />
    <add key="mailSupport" value="support@strimm.com" />
    <add key="mailTo" value="info@strimm.com" />
    <add key="password" value="rubymm6410" />
    <add key="adminEmail" value="administration@strimm.com" />
    <add key="ydevelopementkey" value="AIzaSyAREOn3e0gbN55UZfe32jKLEp2Niv63fCI" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Strimm.Web.Services.CalendarWebService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Strimm.Web.Services.CalendarWebService" />
      </service>
      <service name="Strimm.Web.Services.ChannelWebService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Strimm.Web.Services.ChannelWebService" />
      </service>
      <service name="Strimm.Web.Services.PublicLibraryService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Strimm.Web.Services.PublicLibraryService" />
      </service>
      <service name="Strimm.Web.Services.ScheduleWebService">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Strimm.Web.Services.ScheduleWebService" />
      </service>
      <service name="Strimm.Web.Services.SearchWebService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Strimm.Web.Services.SearchWebService" />
      </service>
      <service name="Strimm.Web.Services.UserWebService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Strimm.Web.Services.UserWebService" />
      </service>
      <service name="Strimm.Web.Services.VideoRoomService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Strimm.Web.Services.VideoRoomService" />
      </service>
      <service name="Strimm.Web.Services.YouTubeService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Strimm.Web.Services.YouTubeService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AspNetAjaxBehavior">
          <enableWebScript />
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="strimm_monox" providerName="System.Data.SqlClient" connectionString="Data Source=qa.strimm.com;Initial Catalog=StrimmWMonoX;Persist Security Info=True;User ID=strimm_user;Password=SjmoP1PocnkZ;Max Pool Size=200" />
    <add name="strimm" providerName="System.Data.SqlClient" connectionString="Data Source=qa.strimm.com;Initial Catalog=QADB;Persist Security Info=True;User ID=VYagRSQL;Password=Mirts05!!!" />
  </connectionStrings>

</configuration>
