<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Trigger job to run every 15 minutes starting at 23:00 every day-->
  <add key="Cron.Schedule" value="0 0 11 * * ?" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="IsActive" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
</configuration>