<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Trigger job to run at 12pm every Friday-->
    <!--<add key="Cron.Schedule" value="0 0 12 ? * FRI" />-->
    <add key="Cron.Schedule" value="0 0 11 * * ?"/>
    <add key="IsActive" value="false"/>
    <add key="ArchiveDayBufferForChannelSchedules" value="7"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
