<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--Trigger job to run every 5 minutes-->
    <add key="Cron.Schedule" value="0 0/5 * * * ?" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsActive" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>