<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings>
    <add key="YouTubeVideoRegex" value="youtu(?:\.be|be\.com)/(?:.*v(?:/|=)|(?:.*/)?)([a-zA-Z0-9-_]+)" />
    <add key="VimeoRegex" value="vimeo\.com/(?:.*#|.*/)?([0-9]+)" />
    <add key="ydevelopementkey" value="AIzaSyDcELCYNkJcYuK9mlG3r2pzcm94x9d3kaU" />
    <add key="vdevelopmentkey" value="fcc0d7a4ac801220a385e077e5881d4e" />
    <add key="datafilepath" value="C:\Projects\Strimm_Alpha\Data\VideoLinks.csv"/>
  </appSettings>

  <connectionStrings>
    <add name="strimm_monox" providerName="System.Data.SqlClient" connectionString="Data Source=tfs2013.strimm.com;Initial Catalog=DB_STubeQA;Persist Security Info=True;User ID=stdbrdsadmin;Password=nuSZTzYuMH;" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <backColor value="Yellow" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\strimm_video_import.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5120KB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    
    <root>
      <level value="All" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

</configuration>
